:root {
    --main-bg-color: #dddddd;
    --second-bg-color: #fdfcfa;
    --texto-azul: #053858;
    --fondo-azul: #0f98ed;
    --texto-oro: var(--second-bg-color);
    /* --main-bg-color: #08d5f5; */
}

body {
    font-family: "Pilat", sans-serif;
    /* Otros estilos para el cuerpo del documento */
}

.game_winner{
    background-color: #9ECAAA;
    font-weight: bold;
}
.game_loser {
    background-color: #f42a2a ;
}

.fondo-encabezado {
    background-color:var(--fondo-azul);
    color: #F3F4F6;
}
.text-xxs {
    font-size: 0.65rem;
}

